.content {
  background-color: white;
  padding: 0 0 20px 0;
}

.menu {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 0;
  width: 1240px;
  margin: 0 auto;
}

.menu > li.active {
  color: #c92071;
  border-bottom: 2px solid #c92071;
}

.menu > li.active,
.menu > li.item {
  font-size: 16px;
}
